<h1>Flexible Payment</h1>
A <%= @years %> year loan of <%= number_to_currency(@principal) %>, with an annual interest rate of <%= '%.2f%' % @interest%>, requires a monthly payment of <%= number_to_currency(@output) %>.