<h1>Payment Calculation</h1>

<form action="/payment/results">
    <p><label for="APR_input">APR</label>
    <input id="APR_input" type="text" name="user_APR" placeholder="E.g. 5.4"></p>
    
    <p><label for="years_input">Number of years</label>
    <input id="years_input" type="text" name="user_years" placeholder="How many years to repay?"></p>
    
    <p><label for="principal_input">Principal</label>
    <input id="principal_input" type="text" name="user_principal" placeholder="How much principal?"></p>
    
    <button>Calculate monthly payment</button>
</form>