<h1>Random Calculation</h1>

<form action="/random/results">
    <p><label for="min_input">Minimum</label>
    <input id="min_input" type="text" name="user_min" placeholder="E.g. 1.5"></p>
    
    <p><label for="max_input">Maximum</label>
    <input id="max_input" type="text" name="user_max" placeholder="E.g. 4.5"></p>
    
    <button>Pick random number</button>
</form>