<h1>Square Calculation</h1>

<form action="/square/results">
    <label for="number_input">Enter a number</label>
    <input id="number_input" type="text" name="user_number" placeholder="What number do you want to square?">
    <button>Calculate square</button>
</form>