<!DOCTYPE html>
<html>
<head>
  <title>OmnicalcParams</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <!-- Connect to Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <!-- Connect to Font Awesome CSS -->
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <!-- Connect to Bootstrap Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

  <%= javascript_include_tag 'application' %>
</head>

<body>
  <!--Tiff trying stuff-->
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <table class="table">
            <tr>
              <th>
                Part I Targets
              </th>

              <td>
                <a href="/flexible/square/5">
                  Flexible Square Example
                </a>
              </td>

              <td>
                <a href="/flexible/square_root/8">
                  Flexible Square Root Example
                </a>
              </td>

              <td>
                <a href="/flexible/payment/410/30/250000">
                  Flexible Payment Example
                </a>
              </td>

              <td>
                <a href="/flexible/random/50/100">
                  Flexible Random Example
                </a>
              </td>
            </tr>

            <tr>
              <th>
                Part II Targets
              </th>

              <td>
                <a href="/square/new">
                  Square Form
                </a>
              </td>

              <td>
                <a href="/square_root/new">
                  Square Root Form
                </a>
              </td>

              <td>
                <a href="/payment/new">
                  Payment Form
                </a>
              </td>

              <td>
                <a href="/random/new">
                  Random Form
                </a>
              </td>
            </tr>

            <tr>
              <th>
                Part III Targets
              </th>

              <td>
                <a href="/word_count/new">
                  Word Count Form
                </a>
              </td>

              <td>
                <a href="/descriptive_stats/new">
                  Stats Form
                </a>
              </td>

              <td></td>
              <td></td>
            </tr>
          </table>

  <!--Tiff no longer trying stuff-->
  
  <div class="container">
    <%= yield %>
  </div>

  <div class="rails-toolbar">
    <a href="/git" target="_blank" class="rails-toolbar-button">
      Git
    </a>
  </div>
</body>
</html>
